@model IEnumerable<PublicationResponse>

@{
    ViewBag.Title = "Home";
}

<div class="container">

    @foreach (var publication in Model)
    {
        <div class="preview-publication-box">
            <h2>@publication.Title</h2>
            <p>@publication.ShortDescription</p>
            <a asp-controller="Publications" asp-action="PublicationDetails" asp-route-id="@publication.Id" class="button-link button-blue-back">More</a>
        </div>
    }

</div>