@model PublicationUpdateRequest

@{
    ViewBag.Title = "Edit publication";
}

<div class="form-container">

    <a asp-area="Author" asp-controller="Publications" asp-action="Index" class="link-hover">Back to articles</a>
    <h2 class="text-large">Edit publication</h2>

    <div class="publication-box">

        <form asp-controller="Authors" asp-action="EditPublication" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Id" />

            <label asp-for="Images" class="form-label pt">Picture</label>
            <input asp-for="Images" type="file" class="form-input" multiple/>
            <span asp-validation-for="Images" class="text-red"></span>

            <label asp-for="Title" class="form-label pt">Title</label>
            <input asp-for="Title" class="form-input" />
            <span asp-validation-for="Title" class="text-red"></span>

            <hr />

            <label asp-for="Description" class="form-label pt">Article</label>
            <textarea asp-for="Description" class="form-input"></textarea>
            <span asp-validation-for="Description" class="text-red"></span>

            <hr />

            <button class="button button-orange-back">Confirm</button>
            <div asp-validation-summary="All" class="text-red"></div>

        </form>

    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}