<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar">

        <div class="navbar-logo">
            <a asp-controller="Publications" asp-action="Index">
                <img src="~/logo/logo.png" />
            </a>
        </div>

        <div class="navbar-links">
            <ul>
                <li>
                    @if (User.IsInRole(UserRoles.Author.ToString()))
                    {
                        <a asp-controller="Authors" asp-action="Index">Author</a>
                    }
                    else
                    {
                        <a asp-controller="Info" asp-action="AboutAuthor">Author</a>
                    }
                </li>
                <li>
                    <a asp-controller="Publications" asp-action="Index">Portfolio</a>
                </li>
                <li>
                    <a asp-controller="Info" asp-action="More">More</a>
                </li>
            </ul>
        </div>

        <div class="navbar-language">
            <ul>
                <li>
                    <a>EN</a>
                </li>
                <li>
                    <a>PL</a>
                </li>
                <li>
                    <a>UA</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="page-content">
        @RenderBody()
    </div>

    <div class="chat-icon"></div>

    @RenderSection("Scripts", required: false)

    @RenderSection("BootstrapScripts", required: false)
</body>
</html>